db.sqlite3
/modeloapp/__pycache__/*
/apps/academia/__pycache__/*
/apps/academia/migrations/*
/apps/cliente/__pycache__/*
/apps/cliente/migrations/*
/apps/exercicio/__pycache__/*
/apps/exercicio/migrations/*
/apps/nutricionista/__pycache__/*
/apps/nutricionista/migrations/*
/apps/alimento/__pycache__/*
/apps/alimento/migrations/*
/apps/treino/__pycache__/*
/apps/treino/migrations/*
/apps/treinador/__pycache__/*
/apps/treinador/migrations/*
/apps/planoalimentar/__pycache__/*
/apps/planoalimentar/migrations/*
