db.sqlite3
/modeloapp/__pycache__/*
projetoapp//apps/academias/__pycache__/*
projetoapp//apps/academias/migrations/*
projetoapp//apps/clientes/__pycache__/*
projetoapp//apps/clientes/migrations/*
projetoapp//apps/exercicios/__pycache__/*
projetoapp//apps/exercicios/migrations/*
projetoapp/apps/nutricionistas/__pycache__/*
projetoapp/apps/nutricionistas/migrations/*
projetoapp/apps/alimentos/__pycache__/*
projetoapp/apps/alimentos/migrations/*
projetoapp/apps/treinos/__pycache__/*
projetoapp/apps/treinos/migrations/*
projetoapp/apps/treinadores/__pycache__/*
projetoapp/apps/treinadores/migrations/*
projetoapp/apps/planosalimentares/__pycache__/*
projetoapp/apps/planosalimentares/migrations/*
