db.sqlite3
/modeloapp/__pycache__/*
/apps/Academia/__pycache__/*
/apps/Academia/migrations/*
/apps/Cliente/__pycache__/*
/apps/Cliente/migrations/*
/apps/Exercicio/__pycache__/*
/apps/Exercicio/migrations/*
/apps/Nutricionista/__pycache__/*
/apps/Nutricionista/migrations/*
/apps/Alimento/__pycache__/*
/apps/Alimento/migrations/*
/apps/treinos/__pycache__/*
/apps/treinos/migrations/*
/apps/Treinador/__pycache__/*
/apps/Treinador/migrations/*
/apps/planoalimentar/__pycache__/*
/apps/planoalimentar/migrations/*
